# Xprinter Server - Environment Variables
# cp .env.example .env

SECRET_KEY=
DEBUG=false
ALLOWED_HOSTS=printer.nonbor.uz,api.nonbor.uz
WEBHOOK_SECRET=
CORS_ORIGINS=https://printer.nonbor.uz,https://admin.nonbor.uz

DB_NAME=xprinter
DB_USER=xprinter
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0
PORT=9090
GUNICORN_WORKERS=3
SECURE_SSL_REDIRECT=false

# Admin superuser (birinchi deploy da avtomatik yaratiladi)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=admin@example.com
